@font-face {
  font-family: Moon;
  src: url("./assets/Moon.otf") format("opentype")
}

.App {
  text-align: center;
  font-family: 'Moon';
}

body {
  background-image: url("/src/assets/background.jpg");

} 
.about-me{
  font-size: large;
  margin-left: 15%;
  margin-right:15%;
  text-decoration: none;
  color: initial;
  border: 2px black solid;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 5px;
}

.extra {
  font-size: large;
  margin-left: 15%;
  margin-right:15%;
  text-decoration: none;
  color: initial;
  border: 2px black solid;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 5px;
}

.header {
  font-size: 30px;
  text-align: right;

}


.navigation {
  color: black;
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  border-radius: 2px;
}

.navlist {
  list-style-type: none;
  display:inline-block;
  padding:10px 5px;
}

.navbar a {

  color: black;
  text-decoration: none;
  font-size: 35px;
}

.navbar a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.icon {
  height: 40px;
  padding: 3px;
}

.menu {
  display:none; 
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}


.home {
  text-align: center;
}

#page-wrap {
  width: 1200px;
  margin: 0 auto;
}

.about-me {
  text-align: left;
  text-decoration: none;
  color: initial;
  border: 2px black solid;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 5px;
}

.projects {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.projects > div {
  display: flex; 
  flex-basis: calc(50% - 50px);  
  justify-content: center;
  flex-direction: column;
}
.projects > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
}

.box { 
  margin: 20px; 
  align-items: center;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box1 { background-color: transparent; background-blend-mode: darken;}
.box2 { background-color: transparent; }
.box3 { background-color: transparent; }
.box4 { background-color: transparent; }

.box img {
  border: 1px solid black;
  border-radius: 4px;
  orientation: top;
  width: 100%;
  height: 100%
}

.project-text{
  text-decoration: none;
  color: initial;
  border: 2px black solid;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 5px;  

}

a.project-button {
  display: inline;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  border: 2px black solid;
  border-radius: 10px;
  padding: 5px;  
  margin-left: 25px;
  margin-right:25px;
  background-color: aliceblue;
}

a.project-button:hover {
  text-decoration: underline;
  background-color: black;
  color:white;
  transition: all 0.3s ease-in-out;
}

.skillsGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  grid-auto-rows: auto;
  height: auto
}
.skillsGrid img {
  height: 150px;
  width: 150px;
}
.skills{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.rune-button{
  height: 40px;
  align-content: left;
}



/* Small Screens max width 640px */
@media all and (max-width: 640px) {
  .navbar {
    flex-direction: column;
    position: relative;
    background-color: none;

  }
  .menu {
    display:block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .about-me{
    text-align: center;
    font-size: large;
    margin-left: 5%;
    margin-right:5%;
  }

  .extra {
    font-size: large;
    margin-left: 5%;
    margin-right:5%;
  }

.navigation{
  display:none;
}
  .navigation.expanded {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    transition: color 0.2s;
  }
  .navlist {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  #page-wrap {
    width: auto;
    margin: 0 auto;
    overflow: auto;
  }


  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
  }
.skillsGrid img {
  height: 75px;
  width: 75px;
}
.skills{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size:200%
}
.projects {
  font-size: 100%;
  min-height: 50px;
  max-width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.projects > div {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}
.projects > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
}
.projects-title{
  font-size: 25px;
}
.box { 
  margin: 20px; 
  align-items: center;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box1 { background-color: transparent; }
.box2 { background-color: transparent; }
.box3 { background-color: transparent; }
.box4 { background-color: transparent; }

.box img {
  border: 1px solid #ddd;
  border-radius: 4px;
 
  width: 100%;
}


} 

/*contact form css*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: black;
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: black;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: black;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.975em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: black;
  
  border: solid 1px black;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: black;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-family: 'Moon', sans-serif;
  font-size: 0.975em;
  
  border: solid 1px black;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: black;
  color: #e2dedb;
}

#submit {
  width: 502px;  
  padding: 0;
  margin: -5px 0px 0px 0px;
  background-color: transparent;
  font-family: 'Moon', sans-serif;
  font-size: 1.375em;
  color: black;
  outline:none;
  cursor: pointer;
  border: solid 1px black;
  /* border-top: none; */
}

#submit:hover {
  color: #e2dedb;
  background-color: black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}