@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("/src/assets/background.jpg");
}

.header {
  font-size: 26px;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding: 5px;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 25px;
  text-decoration: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}

.navbar :hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;

}



.navlist {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  color:white;
  text-decoration: none;

}

.home {
  text-align: center;
}

.header {
  text-align: right;
}

#page-wrap {
  width: 1200px;
  margin: 0 auto;
}

.about-me {
  text-align: left;
}




.projects {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.projects > div {
  display: flex; 
  flex-basis: calc(50% - 50px);  
  justify-content: center;
  flex-direction: column;
}
.projects > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { 
  margin: 20px; 
  align-items: center;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box1 { background-color: teal; }
.box2 { background-color: teal; }
.box3 { background-color: teal; }
.box4 { background-color: teal; }

.box img {
  border: 1px solid #ddd;
  border-radius: 4px;
 
  width: 80%;
}

/* Small Screens max width 640px */
@media screen and (max-width: 640px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
  }
.skillsGrid img {
  height: 75px;
  width: 75px;
}
.skills{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
}

/* Medium Screens min width 641px change to 4 columns */
@media screen and (min-width: 641px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
  }
.skillsGrid img {
  height: 100px;
  width: 100px;
}
.skills{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
}

@media screen and (min-width: 1080px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    grid-auto-rows: auto;
    height: auto
  }
.skillsGrid img {
  height: 150px;
  width: 150px;
}
.skills{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
}