@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("/src/assets/background.jpg");

} 

.header {
  font-size: 26px;
}

.navbar {
  background-color: #6389c2;
  color: white;
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  border-radius: 2px;
}

.navlist {
  list-style-type: none;
  display:inline-block;
  padding:10px 5px;
}

.navbar a {

  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: aqua;
}

.icon {
  height: 40px;
  padding: 3px;
}

.menu {
  display:none;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

@media all and (max-width: 640px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .menu {
    display:block;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .navlist {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

}



.home {
  text-align: center;
}

.header {
  text-align: right;
}

#page-wrap {
  width: 1200px;
  margin: 0 auto;
}

.about-me {
  text-align: left;
}




.projects {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.projects > div {
  display: flex; 
  flex-basis: calc(50% - 50px);  
  justify-content: center;
  flex-direction: column;
}
.projects > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { 
  margin: 20px; 
  align-items: center;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box1 { background-color: teal; }
.box2 { background-color: teal; }
.box3 { background-color: teal; }
.box4 { background-color: teal; }

.box img {
  border: 1px solid #ddd;
  border-radius: 4px;
 
  width: 100%;
}

/* Small Screens max width 640px */
@media screen and (max-width: 640px) {


 .header {
   font-size: 50px;
  }

  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
  }
.skillsGrid img {
  height: 75px;
  width: 75px;
}
.skills{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size:400%
}
.projects {
  font-size: 300%;
  min-height: 50px;
  max-width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.projects > div {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}
.projects > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
}

.box { 
  margin: 20px; 
  align-items: center;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box1 { background-color: teal; }
.box2 { background-color: teal; }
.box3 { background-color: teal; }
.box4 { background-color: teal; }

.box img {
  border: 1px solid #ddd;
  border-radius: 4px;
 
  width: 100%;
}


} 




.skillsGrid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  grid-auto-rows: auto;
  height: auto
}
.skillsGrid img {
  height: 150px;
  width: 150px;
}
.skills{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}


a.project-button {
  display: inline;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  border: 2px black;
}